@{
    ViewData["Title"] = "אודות";
}
<h1>@ViewData["אודות - המפתחים"]</h1>

<p>ברוכים הבאים לאתר הבהבלי!</p>
<p>האתר נוסד לפני איזה חצי דקה בערך , על ידי ארבעת המפתחים:</p>
<p>אסף בן ארויה</p>
<p>ליעם גולן</p>
<p>תומר מנצורי</p>
<p>הלורד אריאל ורביצקי</p>