@{
    ViewData["Title"] = "הבהבלי-דף הבית";
}

<div class="text-center">
    <h1 class="display-4">ברוכים הבאים לאתר הבהבלי</h1>
    <p>חנות המוצרים לבעלי החיים המובילה בישראל</p>
</div>
<div>
    <a href="Products" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">מוצרים לכלבים</a>
    <a href="Products" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">מוצרים לחתולים</a>
    <a href="Products" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">מוצרים לדגים</a>
</div>
